.header {
    text-align: center;
    background: darkblue;
    color: white;
    margin: 25px;
}

.search-row {
    margin:0 0 10px 25px;
    text-align: center;
}
.search-title {
    background: chartreuse;
}
.search-city {
    text-align: center;
    
}

.search-btn {
    background: lightblue;
}

.current-city {
    background: grey;
}